*.swp
*~
.tags
tags

# Just to avoid the removal of the README.md in buildbot/workspace/volume/
buildbot/workspace/volume/atomspace/
buildbot/workspace/volume/cogutils/
buildbot/workspace/volume/master/
buildbot/workspace/volume/moses/
buildbot/workspace/volume/opencog/

opencog/minecraft/data/
